*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #cf9aff,#95c0ff);
    padding-top: 3%;
    padding-left: 8%;
    
}


.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
}
/* .mode {
    float:right;
}
.change {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 20px;
    padding-top: 3%;
    padding-left: 8%;
    
    
}
.dark{
    background-color: #222;
    color: #e6e6e6;
} */